.item {
  display: inline-flex;
  align-items: center;
  padding: 5px;
}

.item__name {
  padding-left: 8px;
}

/* Normal */
.item--1 {
  color: white;
}
.item--1 .item__image {
  border: 4px solid white;
  border-radius: 2px;
}

/* Uncommon */
.item--2 {
  color: #1eff00;
}
.item--2 .item__image {
  border: 4px solid #1eff00;
  border-radius: 2px;
}

/* Rare */
.item--3 {
  color: #0070dd;
}
.item--3 .item__image {
  border: 4px solid #0070dd;
  border-radius: 4px;
}

/* Epic */
.item--4 {
  color: #a335ee;
}
.item--4 .item__image {
  border: 4px solid #a335ee;
  border-radius: 4px;
}

.item__icon {
  height: 56px;
  width: 56px;
}
