@import "../variables";

.results__steps {
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
}

.results__steps > thead > tr > th,
.results__steps > tbody > tr > td {
  border: 1px solid black;
  padding: 5px;
}

.results__steps > tbody > tr:nth-child(even) {
  background-color: #333333;
}

.results__quantity {
  display: inline-block;
  width: $step-item-quantity-size * 2;
  height: $step-item-quantity-size;
  font-size: $step-item-quantity-font-size;
  text-align: right;
  padding: 5px;
  line-height: $step-item-quantity-size;
}

.results__item {
  display: flex;
}

.results__other {
  font-size: 24px;
}

.results__vendor {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.results__instruction {
  width: 350px;
}

@media (max-width: 575.98px) {
  .results__vendor {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .results__instruction {
    width: auto;
  }
}
