@import "../variables";

.results__steps {
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
}

.results__steps th,
.results__steps td {
  border: 1px solid black;
  padding: 5px;
}

.results__vendor {
  text-align: center;
  max-width: 256px;
}

.results__quantity {
  display: inline-block;
  width: $step-item-quantity-size * 2;
  height: $step-item-quantity-size;
  font-size: $step-item-quantity-font-size;
  text-align: right;
  padding: 5px;
  line-height: $step-item-quantity-size;
}

.results__item {
  display: flex;
}

.results__other {
  font-size: 32px;
  padding-left: 74px;
}

.results__steps tr:nth-child(even) {
  background-color: #333333;
}
