@import "../variables";

.item {
  display: inline-flex;
  align-items: center;
  flex: 0 0 250px;
}

.input {
  height: $item-icon-size;
  width: $item-icon-size * 2;
  font-size: $wanted-mats-input-font-size;
}
