$rarity-normal-color: white;
$rarity-uncommon-color: #1eff00;
$rarity-rare-color: #0070dd;
$rarity-epic-color: #a335ee;

$item-icon-size: 36px;
$item-icon-border-size: 2px;

$wanted-mats-input-font-size: 24px;

$step-item-quantity-size: $item-icon-size;
$step-item-quantity-font-size: $wanted-mats-input-font-size;
